@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color1: #535971;
  --color2: #ff5374;
  --color3: #efefef;
}

body::before {
  content: "";
  width: 100%;
  height: 436px;

  display: block;

  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  background: var(--color1);
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Staatliches", sans-serif;
  color: var(--color3);
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  margin: 140px 0 18px 345px;
}

p {
  width: 417px;

  color: var(--color3);
  font-size: 20px;

  margin: 0 0 58px 345px;
}

form {
  border-radius: 20px 20px 0px 0px;
  width: 750px;

  margin: auto;
  padding: 64px;

  background: var(--color3);
}

fieldset {
  border: none;
}

.field-wrapper legend {
  color: #535971;
  font-family: "Staatliches", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px; /* 141.667% */

  margin-bottom: 8px;
}
